.button {
  font-family: "Bai Jamjuree", sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 50px;
  border-width: 3px;
  border-color: black;
  border-radius: 30px;
  height: auto;
  width: 80%;
  background-color: rgb(217, 217, 217);
  text-align: center;
}

.button:hover {
  color: rgba(255, 244, 244, 1);
  background: rgba(12, 120, 154, 1);
}
